main {
    background-image: url("../../../compra-carros.jpg");
    background-size: cover;
    background-position: center right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.lista-container {
    width: 82vw;
    height: 90vh;
    background-color: #ffffff55;
    backdrop-filter: blur(3px);
    box-shadow: 0 0.4rem 0.8rem #00000055;
    border-radius: 0.8rem;
    overflow: hidden;
}

h1 {
    margin: unset;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #ffffff44;
}

.table-wrapper {
    width: 95%;
    max-height: calc(89% - 0.8rem);
    background-color: #ffffffbb;
    margin: 0.8rem auto;
    border-radius: 0.6rem;
    overflow: auto;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
}

th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}