main {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 2rem;
    background-color: #ffffff88;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}