div.toaster-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    z-index: 999;
}

div.toaster-container div.toaster {
    background-color: white;
    padding: 0.5rem;
    max-width: 200px;
    font-weight: bold;
    border-radius: 0.5rem;
    animation: disappear 3s linear;
}

div.toaster-container div.toaster.success {
    color: #69cd1a;
}

div.toaster-container div.toaster.error {
    color: #ff3131;
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}