main#ver {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../../../public/carro-ver.jpg");
    background-size: cover;
    background-position: center;
}

main#ver div.container {
    padding: 2rem;
    background-color: #d3d3d3ba;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}

main#ver div.container div:last-child {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    justify-content: center;
}

main#ver h1 {
    margin: unset;
    text-align: center;
}

main#ver p {
    margin: unset;
    font-size: 1.4em;
    font-weight: bold;
}

main#ver span {
    font-size: 1.2em;
}

main#ver button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s ease-out;
}

main#ver button:hover {
    box-shadow: 0 0 7px 3px #919191;
}

main#ver button:nth-child(1) {
    background-color: gray;
}

main#ver button:nth-child(2) {
    background-color: #69cd1a;
}

main#ver button:nth-child(3) {
    background-color: #ff3131;
}