main#atualizar  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../../../public/carro.png");
    background-size: cover;
    background-position: center left;
    position: relative;
}

main#cadastrar div#error {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    background-color: white;
    padding: 0.5rem;
    max-width: 200px;
    font-weight: bold;
    border-radius: 0.5rem;
    color: #ff3131;
}

main#atualizar form {
    padding: 2rem;
    background-color: #d3d3d3ba;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}

main#atualizar h1 {
    width: max-content;
    margin: unset;
}

main#atualizar div {
    display: flex;
    flex-direction: column;
}

main#atualizar div:last-child {
    flex-direction: row;
    gap: 0.7rem;
    justify-content: center;
}

main#atualizar label {
    width: max-content;
    transform: translate(8px, 24px);
    transition: 0.7s ease;
    font-size: 1.2em;
    color: gray;
}

main#atualizar div:has(input:focus, input:not(:placeholder-shown)) > label {
    transform: translate(0px, 0px);
    color: black;
}

main#atualizar input {
    font-size: 1.1em;
    border-radius: 0.7rem;
    border: 1px solid #4d4d4d;
}

main#atualizar button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s ease-out;
}

main#atualizar button:hover {
    box-shadow: 0 0 7px 3px #919191;
}

main#atualizar button:nth-child(1) {
    background-color: gray;
}

main#atualizar button:nth-child(2) {
    background-color: #69cd1a;
}

main#atualizar button:nth-child(3) {
    background-color: #ff3131;
}